body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    text-align: center;
    color: grey;
}
.banner{
    width: 1300px;
    height: 350px;
    margin-top: 40px;
}
h1{
    color: red;
    font-size: xxx-large;
}
.section-title{
    color: red;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0, 20px;
}
.project-card{
    background-color: red;
    border-radius: 20px;
    padding-bottom: 20px;
    height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 20px rgba(0,0,0,0.25);
}
.project-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.project-card a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    background: black;
    color: grey;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition: background 0.3s ease;
}
.btn:hover{
    background: red;
}
.fun-container{
    display: block;
    max-width: 1100px;
    border-radius: 20px;
    background-color: red;
    color: black;
    margin: 0 auto;
    padding: 0 20px;
}
.fun-text{
    padding-top: 20px;
}
#resetBtn{
    background-color: grey;
    border-radius: 5px;
}
#resetBtn:hover{
    background: red;
}
#makeBtn{
    background-color: white;
    border-radius: 5px;
}
#makeBtn:hover{
    background: red;
}
.key-magnet{
    border: 1px solid black;
    padding: 12px;
    display: inline-block;
    border-radius: 12px;
    margin-bottom: 8px;
    gap: 8px;
}
.key{
    border:1px solid red;
    padding: 12px;
    display: inline-block;
    border-radius: 12px;
    gap: 8px;
}
.view{
    text-decoration: none;
    color: red;
    font-weight: 600;
}
.lil-banner{
    width: 900px;
    height: 200px;
    align-items: center;
    margin-bottom:20px;
}
@media screen and (max-width: 700px){
    .banner{
        max-width: max-content;                                                 ;
    }
    .lil-banner{
        max-width: max-content;
    }
}

